* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
body {
  height: 100vh;
  overflow: auto;
  width: 100%;
}
.wrapper {
  width: 100%;
  overflow: hidden;
}
a {
  text-decoration: none;
  cursor: pointer;
}
ul {
  list-style: none;
}
button {
  cursor: pointer;
}
.container {
  margin: 0 auto;
  width: 70%;
}
@media (max-width: 768px) {
  .container {
    width: 90vw;
  }
}
